@model Navigation.Models.NavigationItem
@if (Model.IsMegaMenu && Model.LinkPageID.TryGetValue(out var webPageID))
{
    <li bl-navitem-class bl-navitem-references bl-navigation-item="Model" class="nav-item dropdown mega-menu">
        <a href="#" class="nav-link dropdown-toggle" title="@Model.LinkAlt" onclick="@Model.LinkOnClick" data-bs-toggle="dropdown" data-bs-auto-close="outside">
            @Html.Raw(Model.LinkText)
        </a>
        <div class="dropdown-menu">
            <inlinewidgetpage web-page-id="@webPageID" initialize-document-prior="true">
                <vc:partial-navigation />
            </inlinewidgetpage>
        </div>
    </li>
}
else if (Model.Children.Count() == 0)
{
    <li bl-navitem-class bl-navitem-references bl-navigation-item="Model">
        <a class="nav-link" bl-navitem-link bl-navigation-item="Model">@Html.Raw(Model.LinkText)</a>
    </li>
}
else
{
    <li bl-navitem-class bl-navitem-references bl-navigation-item="Model" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" title="@Model.LinkAlt" href="#" onclick="@Model.LinkOnClick" data-toggle="dropdown">
            @Html.Raw(Model.LinkText)
        </a>
        <ul class="dropdown-menu">
            @foreach (var ChildItem in Model.Children)
            {
                <partial name="~/Components/Navigation/MainNavigation/MainNavigationDropdownItem.cshtml" for="@ChildItem" />
            }
        </ul>
    </li>
}